
.main {
    display: flex;
    align-items: center;
    background-image: url('../imagenes/fondo\ encabezado.jpg');
    height: 100px;
    padding: 0px 0px;
  }
  
  .left {
    height: 100%;
  }
  
  .left img {
    height: 100%;
    width: auto;
  }
  
  .title {
    font-size: 45px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  }
  
  .right {
    font-size: 13px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 10px;
    margin-top: 22px;
  }