.phraseAndBottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto;

}
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 30px;
}

.arrow {
    background: none;
    border: none;
    &:focus {
      outline: none;
    }
  }
  .arrow img {
    height: 50px;
    cursor: pointer;
    &:active {
      transform: scale(0.95);
    }
  }

.phrase-frame {
      width: 700px;
      min-height: 300px;
      height: fit-content;
      overflow-y: visible;
      border: 8px #aa9414 double;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
      background-color: rgb(197, 197, 197);
    }

.phrase {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 25px 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.2;

  }

.text {
    color: #015D87;   
    font-weight: 400;
    margin: 0 0 20px 0;
    font-size: 1.3em;
}
    
.author {
    font-size: 1.2em;
    color: #015D87;
    font-weight: 600;
    margin: 0 0 25px 0;
    }
    
.comment {
      font-size: 1.1em;
      color: #8b5c04;
      font-weight: 400;
      margin: 0px 0px 0px 20px;
    }
    
.bottom {
    height: fit-content;
    width: 52vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px 0px 0px;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:white;
    position: relative;
  }

  .shareButtons {
      width: fit-content;   
      height: fit-content;
      display: flex;
      align-items: center;
      transition: 0.3s;
    }
      
    .shareButtonsA {
        border-radius: 8px;
        background-color: rgba(36, 36, 36, 0.8);
        display: flex;
        align-items: center;
        transition: 0.3s;
      }
      .shareButtons img, .shareButtonsA img{
      height: 30px;
      border-radius: 8px;
      padding: 2px;
      margin: 5px;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 3px 3px rgb(32, 195, 249); /* Cambia el valor de 'blue' por el tono de azul que desees */
      }
      &:active {
        transform: scale(0.9);
      }
      }
      
      #sharebutton{
        &:active {
          transform: none;
        }
      }

      .lds-spinner {
        color: official;
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-spinner div {
        transform-origin: 40px 40px;
        animation: lds-spinner 1.2s linear infinite;
      }
      .lds-spinner div:after {
        content: " ";
        display: block;
        position: absolute;
        top: 3px;
        left: 37px;
        width: 6px;
        height: 18px;
        border-radius: 20%;
        background: #fff;
      }
      .lds-spinner div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1s;
      }
      .lds-spinner div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1s;
      }
      .lds-spinner div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9s;
      }
      .lds-spinner div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8s;
      }
      .lds-spinner div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7s;
      }
      .lds-spinner div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6s;
      }
      .lds-spinner div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5s;
      }
      .lds-spinner div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4s;
      }
      .lds-spinner div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.3s;
      }
      .lds-spinner div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2s;
      }
      .lds-spinner div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.1s;
      }
      .lds-spinner div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
      }
      @keyframes lds-spinner {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }


.circle {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 123, 255, 0.3); /* Borde transparente */
  border-radius: 50%; /* Forma de círculo */
  border-top: 4px solid #007bff; /* Borde superior azul */
  animation: spin 1s linear infinite; /* Animación de rotación */
  }
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  }


@media (max-width: 870px) {
  .arrow {
    display: none;
  }
  .phrase-frame {
    height: auto;
    min-height: 200px;
    width: 80vw;
  }
  .phrase {
    line-height: 1.3;
  }
 
  .bottom {
    font-size: 12px;
    font-weight: 100;
    margin-top: 20px;
    width: 85vw;
  }
  }

  @media (max-width: 500px) {
  .phrase {
    margin: 20px 20px
  }
  .text {
    font-size: 1em;
    margin-bottom: 10px;
  }
  .author {
    font-size: .9em;
    margin-bottom: 10px;
  }
  .comment {
    font-size: .9em;
    margin-bottom: 0px;
  }
}