
.fullbody {
    background-image: url('./imagenes/backgroundMain.png');
    background-size: cover;
    min-height:85vh;
    height: fit-content;
    position: relative;
}

.waiting {
    min-height:90vh;
    background-color:#015D87;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 670px) {
.fullbody {
    background-image: none;
    background-color:#015D87;
}
}
